:root {
  --container-color: #f9f7fe;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-family: "Poppins", serif;
  --secondary-color: #6c63ff;
  --tetiary-color: #272142;
}
.container {
  background: var(--container-color);
  text-align: center;
  border-radius: 4px;
  padding: 100px;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 83px;
  font-size: 96px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  color: var(--tetiary-color);
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  color: var(--tetiary-color);
}

.btn-contact {
  background: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  margin-top: 30px;
  color: var(--container-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
