:root {
  --container-color: #f9f7fe;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-family: "Poppins", serif;
  --secondary-color: #6c63ff;
  --tetiary-color: #272142;
}
body {
  font-family: var(--secondary-font-family);
}
p {
  margin-top: 60px;
}
.header {
  background: var(--container-color);
  text-align: center;
  border-radius: 4px;
  padding: 160px 80px;
}

.header h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 83px;
  font-size: 93px;
  text-align: center;
}

.btn-contact {
  background: var(--secondary-color);
  color: var(--container-color);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.header h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 40px;
  color: var(--tetiary-color);
}

.header p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  color: var(--tetiary-color);
}
.img-description {
  text-align: center;
  padding: 0;
  padding: 80px 30px;
}

.img-description h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 83px;
  color: #000;
}

.img-description p {
  font-family: var(--secondary-font-family);
  font-size: small;
  font-weight: 400;
  line-height: 30px;
  color: #272142b2;
}

.btn-item {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}
.content-container {
  padding: 160px 80px;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.content-container h2 {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--tetiary-color);
}

.content-container p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #272142b2;
  margin-top: 0;
}

.content {
  margin: 30px;
  text-align: center;
}
.content h3 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  margin: 20px 0;
}
.content p {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  font-weight: 400;
}
.inquiry {
  background: var(--container-color);
  border: 1px solid var(--container-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  text-align: center;
}
.inquiry h1 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  color: #000;
}
.inquiry p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--tetiary-color);
  line-height: 27px;
  margin: 0;
}

.btn-work {
  background: var(--secondary-color);
  color: var(--container-color);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

@media (max-width: 900px) {
  .header {
    padding: 80px 20px;
  }
  .content-container {
    padding: 0;
    text-align: center;
  }
  .header p {
    font-family: var(--secondary-font-family);
    font-weight: bold;
    font-size: 28px;
    line-height: 54px;
    margin: 0;
    color: var(--tetiary-color);
  }
  .header h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 83px;
    font-size: 44px;
    text-align: center;
  }

  .img-description {
    text-align: center;
    padding: 0;
    padding: 80px 30px;
  }

  .img-description h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 83px;
    color: #000;
  }

  .img-description p {
    font-family: var(--secondary-font-family);
    font-size: small;
    font-weight: 400;
    line-height: 30px;
    color: #272142b2;
    opacity: 90%;
  }

  .btn-item {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 27px;
    padding: 12px 20px;
    border-radius: 4px;
  }
}
