:root {
  --container-color: #f9f7fe;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-family: "Poppins", serif;
  --secondary-color: #6c63ff;
  --tetiary-color: #272142;
}
body {
  font-family: var(--secondary-font-family);
}
p {
  margin-top: 60px;
}
nav {
  padding: 20px 0;
}
nav h4 {
  line-height: 42px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: var(--tetiary-color);
}
nav a:hover {
  color: var(--secondary-color);
}
nav li.active a {
  color: var(--secondary-color);
}
.header {
  background: var(--container-color);
  text-align: center;
  border-radius: 4px;
  padding: 160px 80px;
}

.header h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 83px;
  font-size: 93px;
  text-align: center;
}
.case img {
  background-color: var(--container-color);
  margin-top: 80px;
}
.btn-contact {
  background-color: var(--secondary-color);
  color: var(--container-color);
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 90px;
  padding: 12px 20px;
}
.btn-contact:hover {
  color: var(--tetiary-color);
  font-weight: 600;
}
.header h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 40px;
  color: var(--tetiary-color);
}

.header p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  color: var(--tetiary-color);
}
.img-description {
  text-align: center;
  padding: 0;
  padding: 80px 30px;
  margin-bottom: 50px;
}

.img-description h2 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 83px;
  color: #000;
  margin-bottom: 60px;
}

.img-description p {
  font-family: var(--secondary-font-family);
  font-size: small;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #272142b2;
}

.btn-item {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}
.content-container {
  padding: 160px 80px;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
}

.content-container h2 {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--tetiary-color);
}

.content-container p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #272142b2;
  margin-top: 0;
}

.content {
  margin: 30px;
  text-align: center;
}
.content h3 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  margin: 20px 0;
}
.content p {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  font-weight: 400;
}
.inquiry {
  background: var(--container-color);
  border: 1px solid var(--container-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  text-align: center;
}
.inquiry h1 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  color: #000;
}
.inquiry p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--tetiary-color);
  line-height: 27px;
  margin: 0;
}

.btn-work {
  background: var(--secondary-color);
  color: var(--container-color);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
footer {
  margin: 60px 0;
}
.email-link {
  font-size: 26px;
  color: var(--tetiary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.email-link:hover {
  color: var(--secondary-color);
}
.social-links a {
  text-decoration: none;
  padding: 10px 12px 10px 12px;
  margin: 0 20px;
  display: inline;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: var(--secondary-color);
  background: var(--container-color);
  border-radius: 50%;
}
.social-links a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}
.contact-box h4 {
  margin-top: 20px;
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 700;
}
.contact-box p {
  margin: 0;
}
.contact-box {
  background-color: var(--container-color);
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .header {
    padding: 80px 20px;
  }
  nav h3 {
    font-size: 16px;
    font-weight: 700;
  }
  nav li {
    font-size: 14px;
  }
  .content-container {
    padding: 0;
    text-align: center;
  }
  .header p {
    font-family: var(--secondary-font-family);
    font-weight: bold;
    font-size: 28px;
    line-height: 54px;
    margin: 0;
    color: var(--tetiary-color);
  }
  .header h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 83px;
    font-size: 44px;
    text-align: center;
  }

  .img-description {
    text-align: center;
    padding: 0;
    padding: 80px 30px;
  }

  .img-description h2 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 83px;
    color: #000;
  }

  .img-description p {
    font-family: var(--secondary-font-family);
    font-size: small;
    font-weight: 400;
    line-height: 30px;
    color: #272142b2;
    opacity: 90%;
  }

  .btn-item {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 27px;
    padding: 12px 20px;
    border-radius: 4px;
  }
  .btn-contact {
    background: var(--secondary-color);
    color: var(--container-color);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
  }
  .contact-box h4 {
    font-size: 20px;
  }
  .email-link {
    font-size: 20px;
  }
  .contact-box {
    padding: 30px;
  }
}
